.headerApp {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.headerApp .button {
  width: 80px;
  background-color: #fff;
  border: 0px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.09);
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.65);
}
.headerApp .btn-active {
  border-bottom: 3px solid rgba(24, 144, 255, 0.8);
  color: rgba(24, 144, 255, 1);
}
.headerApp .button:hover {
  transition: all 0.3s;
  scale: 1.05;
}
